*,
::before,
::after {
  box-sizing: border-box;
} /* altera a altura e largura dos elementos calculados */

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Hero
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  --ff-primary: 'Cairo', sans-serif;

  --clr-background: #f5f5f5;
  --clr-white: #f1fcde;
  --clr-black: #090e01;
  --clr-light-green: #def8af;
  --clr-medium-green: #88cc11;
  --clr-dark-green: #456809;

  --spacing: 0.25rem;
  --transition: all 0.2s linear;
  --dark-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
} /* variaveis */

/**********************************/
/* 1. Estilos Gerais
/**********************************/
html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-background);
}
a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
  line-height: 1.8;
}
section {
  min-height: 37rem;
  padding: 1.6rem;
}
section:nth-child(odd) {
  background: var(--clr-light-green);
}
img {
  max-width: 100%;
  height: auto;
}
.section__titulo {
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 1.6rem;
  padding-bottom: 3.6rem;
  text-align: center;
}

.section__titulo--destaque {
  color: var(--clr-medium-green);
}
@media screen and (min-width: 625px) {
  section:nth-child(odd) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
}
@media screen and (min-width: 1170px) {
  section {
    padding: 1.6rem calc((100% - 117rem - 1.6rem) / 2);
  }
}
/**********************************/
/* 2. Navbar
/**********************************/
.navbar {
  position: fixed; /* sempre no topo da tela */
  background-color: var(--clr-background);
  width: 100%;
  padding: 1.6rem;
  box-shadow: var(--dark-shadow);
  z-index: 3;
}
.navbar-header {
  /* onde tem a logo e o botao hamburguer */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header__toggle {
  background-color: transparent;
  border: transparent;
  font-size: 3.2rem;
  color: var(--clr-medium-green);
  cursor: pointer;
  transition: var(--transition);
}

.navbar-header__toggle:hover {
  transform: scale(1.2);
}
.navbar-list {
  /* menu como um todo */
  height: 0;
  overflow: hidden; /* todo elemento filho de navbar-list que ultrapasse seu tamanho nao deve ser exibido */
  transition: var(--transition);
}
.navbar-list--show-links {
  /* vai fazer com que o menu apareça quando o usuário clicar */
  height: 25rem;
}
.navbar-list__link {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 1.6rem;
  text-transform: capitalize;
  color: black;
  transition: var(--transition);
}

.navbar-list__link:hover {
  background-color: var(--clr-medium-green);
  padding-left: 3.6rem;
}
.navbar-icons {
  display: none;
}

@media screen and (min-width: 992px) {
  /* as regras aqui só serao ativadas quando o user ter uma tela maior ou igual a 992px na largura*/
  .navbar-header__toggle {
    display: none;
  }
  .navbar-list {
    height: auto;
    display: flex;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
  }
  .navbar-list__link:hover {
    background: none;
    padding-left: 1.6rem;
    color: var(--clr-medium-green);
  }
  .navbar-icons {
    display: flex;
  }
  .navbar-icons__icon {
    margin-right: 1.6rem;
    color: var(--clr-black);
    font-size: 1.8rem;
    font-weight: 900;
    transition: var(--transition);
  }
  .navbar-icons__icon:hover {
    color: var(--clr-medium-green);
  }
}

@media screen and (min-width: 1170px) {
  .navbar {
    padding: 0.8rem calc((100% - 117rem - 1.6rem) / 2);
  }
}
/**********************************/
/* 3. Hero
/**********************************/
.hero {
  position: relative;
  min-height: 100vh;
  /* 1vh = 1% da viewport */
  display: flex;
  align-items: center;
}

.hero__video {
  position: absolute; /* manipular o elemento sem influenciar os outros da pagina */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-texto {
  min-width: 37rem;
  padding: 1.6rem;
}
.hero-texto__titulo {
  font-size: 5.2rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.hero-texto__descricao {
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  max-width: 57rem;
  margin: 1rem 0;
}

.hero-texto__cta {
  display: block;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--clr-white);
  width: 27rem;
  text-align: center;
  background-color: var(--clr-medium-green);
  padding: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: var(--transition);
}
.hero-texto__cta:hover {
  letter-spacing: 0.6rem;
}
@media screen and (min-width: 920px) {
  .hero-texto__titulo {
    font-size: 7.2rem;
  }

  .hero-texto__titulo--linha2 {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 1170px) {
  .hero-texto {
    padding: 1.6rem calc((100% - 117rem - 1.6rem) / 2);
  }
}
/**********************************/
/* 4. Sobre Nós
/**********************************/
.sobre-texto {
  margin-top: 1.6rem;
}

.sobre-texto__titulo {
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
  .sobre-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .sobre-texto {
    flex: 6 1 1rem;
    margin-left: 1.5rem;
  }
  .sobre-c__img {
    flex: 1 1 1rem;
  }
}

@media screen and (min-width: 960px) {
  .sobre {
    height: 100vh;
  }
}
/**********************************/
/* 5. Diferenciais
/**********************************/

.diferenciais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diferencial + .diferencial {
  margin-top: 1.6rem;
}

/* .diferencial:first-child{
  margin-top: 0;
} */

.diferencial__titulo {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.diferencial__descricao {
  width: 28.8rem;
}

.diferencial__titulo::before {
  content: '\f555';
  background-color: black;
  color: var(--clr-white);
  padding: 1rem;
  margin-right: 0.8rem;
  font-family: 'Font Awesome 5 Free'; /* extremamente necessario para que o icone apareça no pseudo-elemento */
  font-weight: 900; /* extremamente necessario para que o icone apareça no pseudo-elemento */
  font-size: 3.6rem;
}

.diferencial__titulo--carteira::before {
  content: '\f555';
}

.diferencial__titulo--mapa::before {
  content: '\f5a0';
}

.diferencial__titulo--meias::before {
  content: '\f696';
}

@media screen and (min-width: 625px) {
  .diferenciais {
    justify-content: space-between;
  }

  .diferencial + .diferencial {
    margin-top: 0;
  }
}
/**********************************/
/* 6. Pacotes 
/**********************************/

/**********************************/
/* 7. Newsletter
/**********************************/

/**********************************/
/* 8. Galeria
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/

/**********************************/
/* 10. Modal
/**********************************/
